*.pyc
.idea
*.swp
*.swo
*.o
*.pickle
*.zlib
*.gz
*.tar
*.doctree
*.bin
*.xgb
*.retry
*.tgz
*.log
build
dist
dump.rdb
nohup.out
venv
py2venv
py3venv

docker/data/tools
docker/data/ansible
docker/data/depchecker
docker/data/nvd
docker/data/persisted
reports/*.html
